.aside .logo a::before{
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}
.aside .logo a::after{
    border-right: 4px solid #ec1839;
    border-bottom: 4px solid #ec1839;
}

.contact .contact-info-item .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
aside .nav li a.active{
    color: orange;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after,
.home .intro .social a{
    background-color: red;
}
